<!DOCTYPE html>
<html lang="en">
<!-- head (sit on top) -->
<%- include('./partials/head') %>


<body class="body__index">
    <!-- Header -->
    <%- include('./partials/header') %>


    <section class="galeria">
        <article class="imagen_principal">
            <div>
                <img src="imagenes/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" alt="">
            </div>
        </article>
        <article class="lista_de_imagenes">
            <img src="/imagenes/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" alt="">
            <img src="/imagenes/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" alt="">
            <img src="/imagenes/diseno-diseno-banner-fondo-ancho-azul-geometrico-abstracto_1017-23062.webp" alt="">
        </article>
    </section>
    <main class="index_main" index_main>
        <h2>Productos destacados</h2>

    <section class="index_main_section">
        <% oferta.forEach(({nombre,imagen,descripcion,precio,descuento,id}) => { %>
        <article class="index_main_section_article">
            <a href="/products/detail/<%= id %>">
                <div class="index_main_section_article_div-imagen">
                    <img src="/imagenes/imageProducts/<%= imagen %>"  alt="ce">
                </div>
            </a>
            
            <div class="index_main_section_article_div-datos">
                <h3>$<%= toThousand(precio) %> </h3>
                <p><%= nombre %> </p>
                <h5> <i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de  <%= toThousand((precio / 3).toFixed(0)) %> </h5>
            </div>
            <div class="index_main_section_article_div-button">
                <button type="submit" class="comprar">Comprar</button>
                <a href="/products/detail/<%= id %>"><button type="menu" class="ver">Ver</button></a>
            </div>
        </article>
        <% }) %>
    </section>

  

        <h2>Oferta de la semana</h2>
        <section class="index_main_section">
      
            <% destacado.forEach(({nombre,imagen,descripcion,precio,descuento,id}) => { %>
                <article class="index_main_section_article">
                    <a href="/DetalleDelProducto/<%= id %> ">
                        <div class="index_main_section_article_div-imagen">
                            <img src="/imagenes/imageProducts/<%= imagen %>"  alt="ce">
                        </div>
                    </a>
                    
                    <div class="index_main_section_article_div-datos">
                        <h3>$<%= toThousand(precio) %> </h3>
                        <p><%= nombre %> </p>
                        <h5> <i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de <%= toThousand((precio / 3).toFixed(0)) %> </h5>
                    </div>
                    <div class="index_main_section_article_div-button">
                        <button type="submit" class="comprar">Comprar</button>
                        <a href="/products/detail"><button type="menu" class="ver">Ver</button></a>
                    </div>
                </article>
                <% }) %>
          
           
        </section>

        
    </main>
    <!-- footer -->
    <%- include('./partials/footer') %>
    
</body>
</html>