<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body class="profile__body">
    <!-- Header -->
    <%- include('./partials/header') %>

      <main class="main__container">
        <section class="sectorA">
          <article class="container__avatar">
            <div>
              <img src="/imagenes/imageUsers/<% user.avatar %> " alt="">
            </div>
          </article>
  
          <article class="container_info_profile">
  
            <div>
              <p>Nombre : <%= user.name %> </p>
            </div>
            <div>
              <p>Apellido : <%= user.surname %></p>
            </div>
            <div>
              <p>Email : <%= user.email %></p>
            </div>
            <div>
              <p>Telefono : <%= user.tel %></p>
            </div>   
          </article>
        </section>
        


        <section class="container_info_profile2">
          <div><h3>Mis productos:</h3></div>
          <div>
            <p>Producto1 : Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, labore, illo minus tempora nihil ea voluptatum quos quibusdam vel, voluptates a minima necessitatibus aliquam itaque ab vitae laboriosam doloribus! Praesentium!</p>
          </div> 
          <div>
            <p>Producto1 : Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque provident qui magnam fuga numquam obcaecati modi tempore velit, sapiente, alias molestias vel autem possimus et animi veniam. Inventore, amet cum.</p>
          </div> 
        
        </section>
      </main>





      <!-- Header -->
      <%- include('./partials/footer') %>
  </body>

</html>