<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>


</head>

<body>
    <%- include('./partials/header') %>
        <main class="index_main">
            <section class="search">
                <div>
                    <h2> Resultado de la busqueda: <%= busqueda %>
                    </h2>
                </div>
                <div class="">
                    <section class="index_main_section">
                        <% if (products.length> 0) { %>
                            <% products.forEach(({nombre,imagen,descripcion,precio,descuento,id})=> { %>
                                <article class="index_main_section_article">
                                    <a href="/products/detail/<%= id %>">
                                        <div class="index_main_section_article_div-imagen">
                                            <img src="/imagenes/imageProducts/<%= imagen %>" alt="ce">
                                        </div>
                                    </a>

                                    <div class="index_main_section_article_div-datos">
                                        <h3>$<%= toThousand(precio) %>
                                        </h3>
                                        <p>
                                            <%= nombre %>
                                        </p>
                                        <h5> <i class="fa-solid fa-credit-card"></i> 3 cuotas sin interés de <%=
                                                toThousand((precio / 3).toFixed(0)) %>
                                        </h5>
                                    </div>
                                    <div class="index_main_section_article_div-button">
                                        <button type="submit" class="comprar">Comprar</button>
                                        <a href="/products/detail/<%= id %>"><button type="menu"
                                                class="ver">Ver</button></a>
                                    </div>
                                </article>
                                <% }) %>
                                    <% }else{%>
                                        <div class="search_else">
                                            <h3>No hay Resultados para la Busqueda 😔 </h3>
                                        </div>
                                        <% } %>

                    </section>

                </div>
            </section>


        </main>

        <%- include('./partials/footer') %>
</body>

</html>