<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
    <!-- Header -->
    <%- include('./partials/header') %>
    <main class=>
        <section class="login__form__container">
            <h1>Editar productos</h1>
            <div>
                
            <a href="/products/productAdd"><p>¿Desea crear un producto?</p></a>
            </div>
            <form class="form__label" action="/products/edit/<%= product.id %>?_method=PUT" method="POST" id="formProductEdit" >

                <label for="nombre">Nombre del producto</label>
                <input type="text" id="name" name="title"  value="<%= product.title %> " />
                <p><%= locals.errors && errors.title ? errors.title.msg : null%></p>
                <p id="nameEditMsg"></p>

                <label for="descripcion">Descripción del producto</label>
                <textarea name="description" id="description" class="form-input"><%= product.description %></textarea>
                <p><%= locals.errors && errors.description ? errors.description.msg : null%></p>
                <p id="descriptionEditMsg" hidden><span id="numberCharacters"></span> disponibles</p>

                <label for="categoria">Categoria</label>
                <select class="form_select" name="category_id" id="category" class="form-input">
                  <option value="" hidden selected>Elegí la categoría</option>
                  <% categories.forEach(({id,title})=> { %>
                    <option value="<%= id %>">
                      <option value="<%= id %>" <%= id === product.category_id && 'selected' %>><%= title %></option>
                      <%= title %>
                    </option>
                    <% }) %>
                </select>

                <label for="precio">Precio</label>
                <input type="number" id="price" name="price"  value="<%= product.price %>" >
                <p><%= locals.errors && errors.price ? errors.price.msg : null%></p>
                <p id="priceEditMsg"></p>


                <label for="descuento">Descuento</label>
                <input type="number" id="discount" name="discount"  value="<%= product.discount %>" >
                <p><%= locals.errors && errors.discount ? errors.discount.msg : null%></p>

                <label for="finalPrice">Precio final</label>
                <input type="number" id="finalPrice" name="finalPrice"  value="<%= product.discount %>" >
                <p><%= locals.errors && errors.discount ? errors.discount.msg : null%></p>


                <label for="imagen">Suba la imagen del producto</label>
                <input class="input-file" type="file" name="imagenes" />
                <button type="submit">Edite su producto</button>
              
            </form>

           
            <form class="form__label" action="/products/delete/<%= product.id %>?_method=DELETE " method="POST">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>

        </section>
    </main>

    <!-- Header -->
    <%- include('./partials/footer') %>

    <%- include('./partials/script') %>

    <script src="/javascript/productEdit.js"></script>

  </body>
</html>
