<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <!-- Header -->
    <%- include('./partials/header') %>
      <main class=>
        <section class="login__form__container">
          <h1>Crear productos</h1>
          <div>

            <a href="/products">
              <p>¿Desea editar un producto?</p>
            </a>
          </div>
          <form class="form__label" action="/products/store" enctype="multipart/form-data" method="POST" id="formProductAdd">
            <label for="nombre">Nombre del producto</label>
            <input type="text" name="title" value="<%= locals.old && old.title ? old.title : null %>" />
            <p><%= locals.errors && errors.title ? errors.title.msg : null%></p>

            <label for="descripcion">Descripción del producto</label>
            <textarea name="description" id="description" value="<%= locals.old && old.title ? old.title : null %>" ></textarea>

            <p><%= locals.errors && errors.description ? errors.description.msg : null%></p>

            <label for="categoria">Categoria</label>

            <select class="form_select" name="category_id" id="category" class="form-input">
              <option value="" hidden selected>Elegí la categoría</option>
              <% categories.forEach(({id,title})=> { %>
                <option value="<%= id %>">
                  <%= title %>
                </option>
                <% }) %>
            </select>
           <p> <%= locals.errors && errors.category ? errors.category.msg : null %> </p>

            <label for="precio">Precio</label>
            <input type="number" name="price" value="<%= locals.old && old.price ? old.price : null %>" />
            <p><%= locals.errors && errors.price ? errors.price.msg : null%></p>

            <label for="discount">Descuento</label>
            <input type="number" name="discount" value="<%= locals.old && old.discount ? old.discount : null %>" />
            <p><%= locals.errors && errors.discount ? errors.discount.msg : null%></p>

            <label for="imagen">Suba la imagen del producto</label>
            <input type="file" name="imagenes" multiple accept="image/*"/>
            <button type="submit">Cree su producto</button>
          </form>
        </section>
      </main>

      <!-- footer -->
      <%- include('./partials/footer') %>

      <%- include('./partials/script') %>

<script src="/javascript/productAdd.js"></script>


  </body>

</html>