<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body class="body__detalle">

    <%- include('./partials/header') %>
    
    <main class="detalle_main">
        <h4 class="unoo">Inicio> <%= product.category_id %> > Producto></h4>
        <article class="detalle_main_article">
            <section class="detalle_main_section_imagenPrincipal">
                <div class="detalle_main_section_div-imagen">
                    <a href=""><img src="/imagenes/imageProducts/<%= product.images[0].name %>" alt=""></a>
                </div>
            </section>
            <h6 class="main_h6">  1 / 5 >   </h6>
          <!--   cambiar las vistas de las imagenes -->
          <% if (product.images.length>1) { %>
            <% product.images.forEach(images => { %>
                <section class="detalle_main_section_imagenSecundaria">
                    <div class="detalle_main_section_imagenSecundaria_div">
                        <img src="/imagenes/imageProducts/images.name" alt="">
                    </div>
              <% }) %>
          <% } %>
          
            
               <!--  <div class="detalle_main_section_imagenSecundaria_div">
                    <img src="/imagenes/imageProducts/default-image.png" alt="">
                </div>
                <div class="detalle_main_section_imagenSecundaria_div">
                    <img src="/imagenes/imageProducts/default-image.png" alt="">
                </div>
                <div class="detalle_main_section_imagenSecundaria_div">
                    <img src="/imagenes/imageProducts/default-image.png" alt="">
                </div> -->
            </section>
            <h4 class="main_h4"> Inicio > <%= product.category_id %> > Producto></h4>
            <section class="detalle_main_section_caracteristicas">
                <div>
                    <h2> <%= product.title %>  </h2>
                </div>
                <div>
                    <p> Contado <%= product.price %>  </p>
                </div>
                <div class="detalle_main_section_cuotas">
                    <h5><i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de <%= toThousand((product.price / 3).toFixed(2)) %> </h5>
                </div>
                <div class="detalle_main_section_caracteristicas_botones">
                    <div >
                        <form action="">
                            <button class="menos">- </button>
                            <button class="numero"> 1 </button>
                            <button class="mas"> +</button>
                        </form>
                    </div>
                    <div>
                        <button type="submit" class="agregar">Agregar al carrito</button>
                    </div>
                </div>
                <div>
                    
                    <% if (locals.userLogin&&(locals.userLogin.rol==="user")) { %>
                        <button type="button" class="comprar">Comprar</button>
                    <% } %>

                   
                    
                </div>
                <% if (locals.userLogin&&(locals.userLogin.rol==="admin")) { %>
                    <a href="/products/edit/<%= product.id %>"><button>editar</button></a>
                <% } %>
               
            </section>

        </article>

        <section class="detalle_main_section-caracteristicasGenerales detalle_main_article">
            <h2>Caracteristicas generales</h2>
           <p> <%= product.description %> 
            </p>
           <!--  <p>Utiliza la APP “ALIC Smart Life” compatible para sistemas operativos iOS y Android.</p>
            <p>Potencia: 14W</p>
            <p>Casquillo: E27/p>
            <p>Alimentación: 230V 50/60Hz</p>
            <p>Corriente: 125 mA</p>
            <p>Temperatura de Color: 2700-6500K Regulable</p>
            <p>Flujo lumínico: 1400 lm</p>
            <p>Tamaño: 128 x 65 mm</p>
            <p>CRI: >80</p>
            <p>Luz: RGB Regulable</p>
            <p>Haz de Luz: 230º</p>
            <p>Conexión: Bluetooth + WiFi</p> -->

        </section>

    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>
