<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
  <body class="body_carrito" >
    <%- include('./partials/header') %>
    <main class="carrito_main">
        <section class="carrito_main_section" id="cart-items">
            <% items.forEach(({product, quantity}) => { %>
                <article class="carrito_main_section_article">
                    <div class="carrito_main_section_article_imagen">
                        <img src="/imagenes/imageProducts/<%= product.images[0].name %>" alt="">
                    </div>
                    <div class="carrito_main_section_article_datos">
                        <div>
                            <p><%= product.title %></p>
                        </div>
                        <div>
                            <form action="">
                            <button class="menos" onclick="event.preventDefault(); removeCartItem('<%=product.id%>')">- </button>
                            <button class="numero"><%= quantity %> </button>
                            <button class="mas" onclick="event.preventDefault(); addCartItem('<%=product.id%>')"> +</button>
                            </form>
                        </div>
                    </div>
                    <div class="carrito_main_section_article_precio">
                        <h2 onclick="removeCartAllItem('<%=product.id%>')"><i class="fa-regular fa-trash-can"></i></h2>
                        <P>$<%= product.price %></P>
                    </div>
                </article>
            <% }) %>
            
           
          
        </section>
        <section class="carrito_main_section">
           
            <div class="carrito_main_section_total">
                <h3>TOTAL:</h3>
                <h3 id="total-order">$ <%= total  %></h3>
            </div>
         
        </section>
       
        <section class="carrito_main_section_compras">
            <form action="" method="">
               
               <a href="/products">Ver mas productos</a>
            </form>
        </section>
    </main>
    <%- include('./partials/footer') %>
    
</body>
  
</html>
