<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body class="profile__body">
    <!-- Header -->
    <%- include('./partials/header') %>

      <main class="main__container">
        <section class="sectorA">
          <article class="container__avatar">
            <div>
              <img src="/imagenes/imageUsers/<%= user.avatar %> " alt="">
            </div>
          </article>
  
          <article class="container_info_profile">
  
            <div>
              <p>Nombre : <%= user.name %> </p>
            </div>
            <div>
              <p>Apellido : <%= user.surname %></p>
            </div>
            <div>
              <p>Email : <%= user.email %></p>
            </div>
            <div>
              <p>Telefono : <%= user.tel %></p>
            </div>   
          </article>
          <article>
            <a href="/users/profileEdit"><button class="botooon" >Editar perfil</button></a>

          </article>
        </section>
        


      

      </main>
      




      <!-- Header -->
      <%- include('./partials/footer') %>
  </body>

</html>