<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    
        <!-- Header -->
    <%- include('./partials/header') %>
         
 <main>
            
           
            <main class="login__form__container">


                <section class="login__nav__container">
                
                    <h5><a href="#"></a>Inicio  ></h5>
                   
                    <h5><a href="#"></a>Mi Cuenta ></h5>
                    
                    <h5><a href="#"></a>Registro</h5>
                
                </section>
                
                <section class="login__form__container">
                         
                            <h2>Registrate</h2>
                           
                
                    <form class="form__label" action="" enctype="multipart/form-data" method="POST" id="formulariooo">
                       
                        <label for="name">Nombre:</label>
                        <input type="text" name="name" placeholder="Ej:juanito" id="name" value="<%= locals.old && old.name ? old.name : null %>">
                        <p><%= locals.errors && errors.name ? errors.name.msg : null%></p>
                        <p id="errorNombre">  <%= locals.errors && errors.name ? errors.name.msg : null %> </p>
                        





                        <label for="surname">Apellido:</label>
                        <input type="text" name="surname" placeholder="Ej:Perez" id="surname" value="<%= locals.old && old.surname ? old.surname : null %>">
                        <p><%= locals.errors && errors.surname ? errors.surname.msg : null%></p>
                        <p id="errorApellido">  <%= locals.errors && errors.name ? errors.name.msg : null %> </p>

                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="Ej:juanitoPerez@hotmail.com" id="email" value="<%= locals.old && old.email ? old.email : null %>">
                        <p> <%= locals.errors && errors.email ? errors.email.msg : null%></p>
                        <p id="errorEmail">  <%= locals.errors && errors.name ? errors.name.msg : null %> </p>


                        <label for="tel">Telefono:</label>
                        <input type="number" name="tel" placeholder="Ej:1123456789" id="tel" value="<%= locals.old && old.tel ? old.tel : null %>" >
                        <p><%= locals.errors && errors.tel ? errors.tel.msg : null%> </p>
                        <p id="errortel">  <%= locals.errors && errors.name ? errors.name.msg : null %> </p>

                        <label for="password">Contraseña:</label>
                        <input type="password" name="password" placeholder="Ej:nonono1234" id="password">
                        <p><%= locals.errors && errors.password ? errors.password.msg : null%></p>
                        <p id="errorpassword">  <%= locals.errors && errors.name ? errors.name.msg : null %> </p>


                        <label for="password2">Confirmar Contraseña:</label>
                        <input type="password2" name="password2" placeholder="Ej:nonono1234" id="password2">
                        <p><%= locals.errors && errors.password2 ? errors.password2.msg : null%></p>
                        <p id="errorpassword2">  <%= locals.errors && errors.name ? errors.name.msg : null %> </p>

                        <label for="avatar">Suba su avatar</label>
                        <input class="input-file" type="file" name="avatar"  id="avatar" >
                        <p><%= locals.errors && errors.avatar ? errors.avatar.msg : null%></p>
                        
                        
                
                
                
        <!--              <button>Captcha</button> -->
                
                
                        <button id="btnnn" type="submit">Registrarse</button>
                
                
                
                
                       </form>
                       
                <section class="login__footer__container">
                    <section>
                        <a href="/users/login"><h5>¿Tenes cuenta? ingresá</h5></a>
                       
                    </section>
                   
                </section>
                
                </section>
                
                </main>
                
                
                  
          
    
        </main>
        <footer class="index__footer">
            <article class=footer_principal>
                <section class="footer__seccion" >
                    <div>
                        <h3>Categorias</h3>
                    </div>
                    <div>
                        <ul>
                            <li><a href="">Inicio</a></li>
                            <li><a href="">Iluminacion</a></li>
                            <li><a href="">Alarmas y Sensores</a></li>
                            <li> <a href="">Electronica, Audio y Video</a></li>
                            <li><a href="">¿Quienes somos?</a></li>
                        </ul>
                    </div>
                </section>
        
                <section class="footer__seccion" >
                    <div>
                        <h3>Contacto</h3>
                    </div>
                    <div>
                        <ul>
                            <li><a href=""><i class="fa-brands fa-whatsapp"></i> 15-1324-5768</a></li>
                            <li><a href=""><i class="fa-solid fa-phone"></i> 4240-9876</a></li>
                            <li><a href=""><i class="fa-solid fa-at"></i> domoticabaires@gmail.com</a></li>
                            <li><a href=""><i class="fa-solid fa-location-pin"></i> San Miguel, Buenos Aires</a></li>
                            
                        </ul>
                    </div>
                </section>
                <section class="footer__seccion" >
                    <div class="footer__redes">
                        <div>
                            <h3>Sigamos Conectados</h3>
                        </div>
                        <div>
                            <ul class="foter__redes--redes">
                                <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
                                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                                <li><a href=""><i class="fa-brands fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
        
                </section>
            </article>
    
            <article class="descripcion-final">
                <p>Copyrigth Domótica Baires - 2022.
                    Todos los derechos reservados
                    Defensa de las y los consumidores.Para reclamos
                    <strong><a href="">Ingrese aquí.</a></strong> </p>
                <p>Desarrollado por Grupo <strong>2</strong></p>
            </article>
            
        </footer>
          <script src="/javascript/usersRegister.js"></script>
    </body>  
</body>
</html>