<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>


</head>

<body>
    <%- include('./partials/header') %>
        <main class="index_main">
            <section class="index_main_section">
                <% products.forEach(({title,images,description,price,discount,id}) => { %>
                <article class="index_main_section_article">
                    <a href="/products/detail/<%= id %>">
                        <div class="index_main_section_article_div-imagen">
                            <img src="/imagenes/imageProducts/<%= images[0].name %>"  alt="ce">
                        </div>
                    </a>
                    
                    <div class="index_main_section_article_div-datos">
                        
                        <h3>$<%= toThousand(price) %> </h3>
                        <p><%= title %> </p>
                        <h5> <i class="fa-solid fa-credit-card"></i>  3 cuotas sin interés de  <%= toThousand((price / 3).toFixed(0)) %> </h5>
                    </div>
                    <div class="index_main_section_article_div-button">
                        <% if (locals.userLogin&&(locals.userLogin.rol==="user" )) { %>
                            <button type="submit" class="comprar" onclick="addCartItem('<%=id%>')">Comprar</button>
                            <% }else{ %>
                                <button type="submit" class="comprar">Comprar</button>
                                <% }%>
                        <a href="/products/detail/<%= id %>"><button type="menu" class="ver">Ver</button></a>
                    </div>
                </article>
                <% }) %>
            </section>
                </div>
            </section>


        </main>

        <%- include('./partials/footer') %>
</body>

</html>